<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

{% assign pages = site.pages | sort: 'index'  %}

<body>
    <nav>
        <div class="nav-wrapper blue">
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

            <a href="/" class="brand-logo">ComicBox</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% for page in pages %}
                    <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </nav>

    <ul id="slide-out" class="sidenav">

        {% for page in pages %}
            <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>

    <div class="container">
        {{ content }}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, {});
        });
    </script>
</body>

</html>